.about {
  padding: 4rem 5rem;
  background-color: #fffefc;
  
}
.about-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  
}

.about-text {
  flex: 1;
  padding-right: 20px;
  max-width: 700px;
}

.about-text h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
}

.thinner-text {
  font-weight: 300;
}

.outline-text {
  font-weight: 1000;
  color: white;
  -webkit-text-stroke:2px black;
}

 .about-text p {
  font-size: 1.3rem ;
  color: #666;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.about-image {
  flex: 0 0 400px;
  position: relative;
}

.about-image img {
  width: 120%;
  height: auto;
}

.links-container {
  position: absolute;
  top: 400px;
  right: 120px;
  display: flex;
  gap: 20px;
}

.links-img {
  width: 40px !important;
  height: 40px !important;
}

.links-img:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .about-content {
    flex-direction: column-reverse;
  }

  .about-text {
    padding-right: 0;
    padding-top: 2rem;
  }

  .about-image {
    flex: 0 0 200px;
  }

  .links-container {
    position: static;
    margin-top: 10px;
    justify-content: center;
  }
}

