.header {
  background-color: #f7f6d4;
  width: 100vw;
  color: black;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  margin-top: -2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.name {
  font-size: 2rem;
  font-weight: bold;
}
.nav-links {
  display: flex;
  gap: 1rem;
}

.nav {
  display: flex;
  gap: 1rem;
}

.nav a {
  color: #040404;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: grey;
}

@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
    gap: 1rem;
  }

  .name {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .nav a {
    color: #040404;
    text-decoration: none;
    font-size: 1 rem;
    transition: color 0.3s ease;
  }
}
